pandas
numpy
scikit-learn
streamlit
openpyxl
#-e .
seaborn
gitdb
typing_extensions
pillow
pip
attrs
wheel
openssl
pytz
toml
smmap
setuptools
scipy
threadpoolctl
blas
altair
jsonschema
narwhals
pyarrow
jinja2
packaging
referencing
markupsafe
joblib
python-dateutil
numexpr
pydeck
certifi
mkl_fft
tornado
colorama
urllib3
six
idna
tenacity
watchdog
click
cachetools
blinker
bottleneck
mkl_random
streamlit-option-menu
